# Extraction Models
gliner
glirel
spacy

# Graph Data Structure
networkx
pyvis

# Vector Database & Embeddings
chromadb
sentence-transformers

# MongoDB Atlas
pymongo[srv]
certifi

# PyTorch (CPU-only is fine for CI)
torch

# LLM Generation
groq


# Hugging Face Datasets
datasets
ragas
langchain<0.3.0
langchain-community<0.3.0

langchain-google-vertexai
langchain-groq
langchain-google-genai
pandas


tqdm



# Web Backend
fastapi
uvicorn

# Logging & Environment
loguru
python-dotenv
huggingface_hub